* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

nav {
  background-color: #131e29;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
nav .logo {
  width: 20%;
}
nav .menu {
  width: 80%;
}
nav .menu ul {
  justify-content: flex-end;
  margin-top: 20px;
}

ol,
ul {
  list-style-type: none;
}
nav .menu ul li a {
  display: flex;
  padding: 20px 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

nav .menu ul li a:hover {
  border-radius: 10px;
  transition: 0.5s all;
  background-color: antiquewhite;
  color: #4bcaff;
  font-weight: 700;
}
nav .menu ul li:nth-child(1) a {
  color: #4bcaff;
  font-weight: 700;
}
